/* ------------ Presets ------------ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --blue: #0064de;
    --dark-blue: #0d4c99;
    --red: #E82728;
    --gray: #F0F1F3;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue);
}

/* ------------ Header ------------ */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 135px;
    padding: 20px 0;
    position: relative;
    z-index: 2;

    img {
        width: 18%;
    }

    ul {
        display: flex;
        gap: 30px;
        list-style-type: none;
        padding: 0;
    }

    li a {
        text-decoration: none;
        font-size: 15px;
        color: black;
    }

    a {
        text-decoration: none;

        button {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 12px 15px;
            gap: 10px;
            border: none;
            border-radius: 20px 10px 10px 10px;
            background-color: var(--blue);
            font-size: 15px;
            color: var(--gray);
        }
    }
}

/* ------------ Footer ------------ */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--dark-blue);
    color: var(--gray);
    padding-bottom: 10px;
    position: relative;
    z-index: 2;
    bottom: 0;

    img {
        width: 16%;
    }

    .container-footer {
        display: flex;
        justify-content: space-between;
        margin: 55px 135px;
        align-items: center;
        gap: 10px;

        ul {
            list-style-type: none;
            padding: 0;
        }

        li a {
            text-decoration: none;
            font-size: 15px;
            color: var(--gray);
        }

        a:hover {
            font-weight: 900;
        }

        .midias-sociais ul {
            display: flex;
            justify-content: space-evenly;

            li a {
                font-size: 25px;
            }
        }
    }

    .registrado {
        text-align: center;
        font-size: 12px;

        p {
            margin: 0;
        }
    }
}